rules_version = '2';
service firebase.storage {

  match /b/{bucket}/o {

    match /rate-files/{allPaths=**} {
      allow read;
      allow write;
    }

    match /{allPaths=**} {
      allow read, write;
    }
  }

}
